@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --dark: #000000;
  --backgroundColor: #dddddd;
  --darkGray: #606060;
  --lightGray: #dfdfdf;
  --lightGray2: #cdcdcd;
  --border: #b5b5b5;
  --mediumGray: #898989;
}

body {
  color: var(--dark);
  background-color: var(--backgroundColor);
  font-family: Arial, Helvetica, sans-serif;
}
